[Unit]
Description=Temperature-based control of Toradex Apalis iMX6 fan through GPIO port

[Service]
ExecStart=/usr/sbin/aimx6-fan-control
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
