[Unit]
Description=Temperature-based control of Toradex Apalis T30 fan through GPIO port

[Service]
ExecStart=/usr/sbin/at30-fan-control
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
